name: Hardcoded Secrets Demo

on:
  push:
    branches:
      - main

jobs:
  hardcoded-secrets-demo:
    runs-on: ubuntu-latest
    steps:
      - name: Display Secrets
        env:
          API_TOKEN: 94XHrfNRwXsjqTqApRrwWmhDLDHpIYV8
          DATABASE_PASSWORD: secretp@ssw0rd
          SSH_PRIVATE_KEY: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDX...
        run: |
          echo "API Token: $API_TOKEN"
          echo "Database Password: $DATABASE_PASSWORD"
          echo "SSH Private Key: $SSH_PRIVATE_KEY"

  DisplaySecrets1:
    runs-on: ubuntu-latest
    steps:
      - name: Display Secrets1
        env:
          API_TOKEN: 94XHrfNRwXsjqTqApRrwWmhDLDHpIXYZ
          DATABASE_PASSWORD: secretp@ssw0rd1234
          SSH_PRIVATE_KEY: ssh-rsa AABCB3NzaC1yc2EAAAADAQABAAABgQDX...
        run: |
          echo "API Token: $API_TOKEN"
          echo "Database Password: $DATABASE_PASSWORD"
          echo "SSH Private Key: $SSH_PRIVATE_KEY"

  HelloWorld:
    runs-on: ubuntu-latest
    steps:
      - name: Hello, World!
        run: echo "Hello, World987!"
